/* link to palette https://colorhunt.co/palette/fff2ccffd966f4b183dfa67b */
body {
    color: #FFD966;
    background-color: #F4B183;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#records {
    list-style: none;
}

.input {
    color: rgb(5, 5, 5);
    background-color: #FFF2CC;
    border-radius: 20px;
    
}

li {
    background-color: #DFA67B;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
ul{
    padding: 0;
}
