body{
    color: #000;
    background-color: #F4B183;
    box-sizing: border-box;
    font-family:  'Barlow', sans-serif;
}

#records {
    list-style: none;
}

.input {
    color: #000;
    background-color: #FFF2CC;
    border-radius: 20px;
}
ul {
    padding: 0;
}
#submitButton {
    background-color: #DFA67B;
    border-color: #DFA67B;
    border-radius: 10px;
}
.record {
  background-color: #DFA67B;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}