/* Styles for Agify and Genderize a Name app */

/* site-wide styles */
body, html {
  height: 100%;
}

body {
    height: 100%;
    color: #000;
   /* background-color: #F4B183;*/
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    background-image: url(../../crowd-scaled-768w.webp);
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

/* styles for unordered list containing results records*/
#records {
    list-style: none;
    padding-inline-start: 0;
}

/* user input styles*/
.input {
    color: #000;
    background-color: #FFF2CC;
    border-radius: 20px;
}


/* submit button styles */
#submitButton {
    background-color: #DFA67B;
    border-color: #DFA67B;
    border-radius: 10px;
}    

/* results records styles */
.record {
    background-color: #DFA67B;
    border-radius: 20px;
    padding: 10px;
}